body {
  background-color: rgb(126, 126, 126);
  font-style: oblique
}

h1 {
  font-family: 'Times New Roman', Times, 'Times New Roman', Times, serif;
  font-size: 52px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-family: 'Times New Roman', Times, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  background-color: white;
}

li {
  font-family: 'Times New Roman', Times, 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  align-items: center;
}

ul {
  font-family: 'Times New Roman', Times, 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

button {
  background-color: darkgray;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
}

h3 {
  text-align: center;
}